.eyeIcon {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 110;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.register {
  width: 100%;
}

.register:hover {
  text-decoration: none;
}

.register-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
  border-style: solid;
  border-color: antiquewhite;
}

.register-form-btn:hover {
  background-color: #333333;
  color: white;
}

#loaderContainer {
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  position: fixed;
}

#loader {
  position: relative;
  left: 50%;
  top: 40%;
}
