.movie-single .movie-img .movie-btn,
.movie-single .mv-ceb .movie-btn {
  text-align: center;
  padding: 18px;
  display: flex;
  flex-direction: column;
  background-color: #07101a;
  border: 3px solid #0c1c2c;
}

.movie-single .movie-img .movie-btn .btn-transform.red,
.movie-single .mv-ceb .movie-btn .btn-transform.red {
  margin-bottom: 15px;
}

.btn-transform {
  position: relative;
  display: inline-block;
  height: 45px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.movie-single .movie-img .movie-btn a,
.movie-single .mv-ceb .movie-btn a {
  height: 45px;
}

.btn-transform.transform-vertical .item-1 {
  transform: rotateX(0deg);
}

.btn-transform .item {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  text-transform: uppercase;
}

.redbtn {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #dd003f;
  color: #ffffff;
  padding: 13px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.yellowbtn {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #020d18;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #dcf836;
  padding: 13px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.movie-single .movie-single-ct .movie-rate {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #405266;
  border-bottom: 1px solid #405266;
  margin-bottom: 70px;
}

.movie-single .movie-single-ct .movie-rate .rate {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-single .movie-single-ct .movie-rate .rate p {
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 11px;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  line-height: 24px !important;
}

.movie-single .movie-single-ct .movie-rate .rate p span.rv {
  font-size: 12px;
  color: #4280bf;
}

.movie-single .movie-single-ct .movie-rate .rate p span {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.movie-single .movie-single-ct .movie-rate .rate-star {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  border-left: 1px solid #405266;
  padding-left: 30px;
  height: 54px;
}

.movie-single .movie-single-ct .movie-rate .rate-star p {
  font-size: 18px;
  color: #abb7c4;
  margin-right: 15px;
  margin-bottom: 0;
}

.tabs {
  margin-bottom: 60px;
  overflow: hidden;
}

.tabs ul.tabs-mv {
  padding: 20px 0;
  margin-bottom: 30px;
}

.tabs ul.tab-links,
.tabs ul.tab-links-2,
.tabs ul.tab-links-3 {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-left: 0;
}

.tabs ul.tabs-mv li {
  margin-right: 50px;
}

.tabs ul.tabs-mv li.active a,
.tabs ul.tabs-mv li:hover a {
  border-bottom: 3px solid #dcf836;
}

.tabs ul.tab-links li.active a,
.tabs ul.tab-links-2 li.active a,
.tabs ul.tab-links-3 li.active a {
  color: #dcf836;
}

.tabs ul.tabs-mv li a {
  font-size: 18px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
}

.tabs ul.tab-links li a,
.tabs ul.tab-links-2 li a,
.tabs ul.tab-links-3 li a {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
}

.tabs .tab-content {
  padding-left: 15px;
}

.tabs .tab-content .active {
  margin-left: -15px;
}

.tabs .tab.active {
  display: block;
}

.tabs .tab {
  display: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.title-hd-sm {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #233a50;
  padding-bottom: 8px;
  margin-top: 30px;
}

.title-hd-sm h4 {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.title-hd-sm a {
  color: #4280bf;
}

.time {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  line-height: 24px !important;
}

.movie-single p a {
  color: #4280bf;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  line-height: 24px !important;
}

.movie-single .sb-it p.tags a {
  background-color: #233a50;
  color: #abb7c4;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.movie-single p a {
  color: #4280bf;
}

.movie-single .sb-it p.tags a {
  background-color: #233a50;
  color: #abb7c4;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.movie-single .movie-single-ct .tab .rv-hd {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.movie-single .movie-single-ct .tab h3 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 15px;
}

.movie-single .movie-single-ct .tab h2 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #4280bf;
  font-weight: bold;
  text-transform: none;
  font-size: 24px;
  margin-bottom: 30px;
}

.movie-single .movie-single-ct .tab .rv-hd .redbtn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.topbar-filter {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  border-top: 1px solid #405266;
  border-bottom: 1px solid #405266;
}

.topbar-filter p {
  padding-right: 190px;
  margin-bottom: 0;
}

.topbar-filter p span {
  color: #4280bf;
}

.topbar-filter label,
.topbar-filter select {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

.topbar-filter select {
  width: 215px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/drop-icon.png) no-repeat right 20px center;
  border-left: 1px solid #405266;
  border-right: 1px solid #405266;
  border-top: none;
  border-bottom: none;
  color: #ffffff;
  font-weight: 400;
}

.topbar-filter label,
.topbar-filter select {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

select {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.topbar-filter option {
  background-color: #020d18;
}

.filterBy {
  margin-bottom: 0 !important;
  padding-right: 5px;
}

.popularity {
  padding: 6px 12px;
}

.topbar-filter .pagination2 {
  padding-left: 100px;
}

.topbar-filter .pagination2 span,
.topbar-filter .pagination2 a {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

.topbar-filter .pagination2 span {
  margin-right: 15px;
}

.topbar-filter .pagination2 a.active,
.topbar-filter .pagination2 a:hover {
  color: #dcf836;
}

.tabs .tab-content .active {
  margin-left: -15px;
}

.topbar-filter .pagination2 a {
  padding-left: 5px;
  padding-right: 5px;
  color: #4280bf;
}

.topbar-filter .pagination2 a {
  padding-left: 5px;
  padding-right: 5px;
  color: #4280bf;
}

a#writeReview :hover {
  color: black !important;
}

.movie-single .movie-single-ct .tab h2 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #4280bf;
  font-weight: bold;
  text-transform: none;
  font-size: 24px;
  margin-bottom: 30px;
}

.title-hd-sm {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #233a50;
  padding-bottom: 8px;
  margin-top: 30px;
}

.title-hd-sm h4 {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.movie-single .movie-single-ct .mvcast-item .cast-it {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.movie-single .movie-single-ct .mvcast-item .cast-it .cast-left {
  width: 60%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-single .movie-single-ct .mvcast-item .cast-it .cast-left h4 {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  width: 40px;
  height: 40px;
  background-color: #233a50;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 15px;
}

.movie-single .movie-single-ct .mvcast-item .cast-it a {
  color: #4280bf;
  margin-right: 100px;
}

.movie-single .movie-single-ct .mvcast-item .cast-it p {
  margin-bottom: 0;
}

.movie-single .movie-single-ct .mvcast-item .cast-it p {
  width: 40%;
  text-align: left;
}

.flex-wrap-movielist {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: inherit;
  margin-right: -30px;
}

.movie-item-style-1 {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  width: 170px;
  position: relative;
  margin-right: 23px;
}

.movie-item-style-2 {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 58px;
}

.movie-item-style-1 img {
  margin-right: 0;
  margin-bottom: 15px;
}

.movie-item-style-2 img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 30px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.movie-item-style-1 .hvr-inner {
  position: absolute;
  top: 0;
  background-color: #dd003f;
  padding: 8px 15px;
  text-align: center;
  margin-left: 30px;
  margin-top: 110px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.movie-item-style-1 .hvr-inner a {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.movie-item-style-2 .mv-item-infor h6 {
  margin-bottom: 10px;
}

.movie-item-style-2 .mv-item-infor h6 a {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.movie-item-style-2 .mv-item-infor h6 a:hover {
  color: yellow;
}

.movie-item-style-2 .mv-item-infor .rate {
  font-size: 12px;
}

.movie-item-style-2 .mv-item-infor .rate span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

#castRow {
  display: block !important;
}
