.movie-single .movie-img .movie-btn,
.movie-single .mv-ceb .movie-btn {
  text-align: center;
  padding: 18px;
  display: flex;
  flex-direction: column;
  background-color: #07101a;
  border: 3px solid #0c1c2c;
}

.movie-single .movie-img .movie-btn .btn-transform.red,
.movie-single .mv-ceb .movie-btn .btn-transform.red {
  margin-bottom: 15px;
}

.btn-transform {
  position: relative;
  display: inline-block;
  height: 45px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.movie-single .movie-img .movie-btn a,
.movie-single .mv-ceb .movie-btn a {
  height: 45px;
}

.btn-transform.transform-vertical .item-1 {
  transform: rotateX(0deg);
}

.btn-transform .item {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  text-transform: uppercase;
}

.redbtn {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #dd003f;
  color: #ffffff;
  padding: 13px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.yellowbtn {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #020d18;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #dcf836;
  padding: 13px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.movie-single .movie-single-ct .movie-rate {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #405266;
  border-bottom: 1px solid #405266;
  margin-bottom: 70px;
}

.movie-single .movie-single-ct .movie-rate .rate {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-single .movie-single-ct .movie-rate .rate p {
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 11px;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  line-height: 24px !important;
}

.movie-single .movie-single-ct .movie-rate .rate p span.rv {
  font-size: 12px;
  color: #4280bf;
}

.movie-single .movie-single-ct .movie-rate .rate p span {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.movie-single .movie-single-ct .movie-rate .rate-star {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  border-left: 1px solid #405266;
  padding-left: 30px;
  height: 54px;
}

.movie-single .movie-single-ct .movie-rate .rate-star p {
  font-size: 18px;
  color: #abb7c4;
  margin-right: 15px;
  margin-bottom: 0;
}

.tabs {
  margin-bottom: 60px;
  overflow: hidden;
}

.tabs ul.tabs-mv {
  padding: 20px 0;
  margin-bottom: 30px;
}

.tabs ul.tab-links,
.tabs ul.tab-links-2,
.tabs ul.tab-links-3 {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-left: 0;
}

.tabs ul.tabs-mv li {
  margin-right: 50px;
}

.tabs ul.tabs-mv li.active a,
.tabs ul.tabs-mv li:hover a {
  border-bottom: 3px solid #dcf836;
}

.tabs ul.tab-links li.active a,
.tabs ul.tab-links-2 li.active a,
.tabs ul.tab-links-3 li.active a {
  color: #dcf836;
}

.tabs ul.tabs-mv li a {
  font-size: 18px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
}

.tabs ul.tab-links li a,
.tabs ul.tab-links-2 li a,
.tabs ul.tab-links-3 li a {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
}

.tabs .tab-content {
  padding-left: 15px;
}

.tabs .tab-content .active {
  margin-left: -15px;
}

.tabs .tab.active {
  display: block;
}

.tabs .tab {
  display: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.title-hd-sm {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #233a50;
  padding-bottom: 8px;
  margin-top: 30px;
}

.title-hd-sm h4 {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.title-hd-sm a {
  color: #4280bf;
}

.time {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  line-height: 24px !important;
}

.movie-single p a {
  color: #4280bf;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  line-height: 24px !important;
}

.movie-single .sb-it p.tags a {
  background-color: #233a50;
  color: #abb7c4;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.movie-single p a {
  color: #4280bf;
}

.movie-single .sb-it p.tags a {
  background-color: #233a50;
  color: #abb7c4;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.movie-single .movie-single-ct .tab .rv-hd {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.movie-single .movie-single-ct .tab h3 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 15px;
}

.movie-single .movie-single-ct .tab h2 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #4280bf;
  font-weight: bold;
  text-transform: none;
  font-size: 24px;
  margin-bottom: 30px;
}

.movie-single .movie-single-ct .tab .rv-hd .redbtn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.topbar-filter {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  border-top: 1px solid #405266;
  border-bottom: 1px solid #405266;
}

.topbar-filter p {
  padding-right: 190px;
  margin-bottom: 0;
}

.topbar-filter p span {
  color: #4280bf;
}

.topbar-filter label,
.topbar-filter select {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

.topbar-filter select {
  width: 215px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/drop-icon.png) no-repeat right 20px center;
  border-left: 1px solid #405266;
  border-right: 1px solid #405266;
  border-top: none;
  border-bottom: none;
  color: #ffffff;
  font-weight: 400;
}

.topbar-filter label,
.topbar-filter select {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

select {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.topbar-filter option {
  background-color: #020d18;
}

.filterBy {
  margin-bottom: 0 !important;
  padding-right: 5px;
}

.popularity {
  padding: 6px 12px;
}

.topbar-filter .pagination2 {
  padding-left: 100px;
}

.topbar-filter .pagination2 span,
.topbar-filter .pagination2 a {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

.topbar-filter .pagination2 span {
  margin-right: 15px;
}

.topbar-filter .pagination2 a.active,
.topbar-filter .pagination2 a:hover {
  color: #dcf836;
}

.tabs .tab-content .active {
  margin-left: -15px;
}

.topbar-filter .pagination2 a {
  padding-left: 5px;
  padding-right: 5px;
  color: #4280bf;
}

.topbar-filter .pagination2 a {
  padding-left: 5px;
  padding-right: 5px;
  color: #4280bf;
}

a#writeReview :hover {
  color: black !important;
}

.movie-single .movie-single-ct .tab h2 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #4280bf;
  font-weight: bold;
  text-transform: none;
  font-size: 24px;
  margin-bottom: 30px;
}

.title-hd-sm {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #233a50;
  padding-bottom: 8px;
  margin-top: 30px;
}

.title-hd-sm h4 {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.movie-single .movie-single-ct .mvcast-item .cast-it {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.movie-single .movie-single-ct .mvcast-item .cast-it .cast-left {
  width: 60%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-single .movie-single-ct .mvcast-item .cast-it .cast-left h4 {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  width: 40px;
  height: 40px;
  background-color: #233a50;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 15px;
}

.movie-single .movie-single-ct .mvcast-item .cast-it a {
  color: #4280bf;
  margin-right: 100px;
  margin-bottom: 20px;
}

.movie-single .movie-single-ct .mvcast-item .cast-it p {
  margin-bottom: 0;
}

.movie-single .movie-single-ct .mvcast-item .cast-it p {
  width: 40%;
  text-align: left;
}

.flex-wrap-movielist {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: inherit;
  margin-right: -30px;
}

.movie-item-style-1 {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  width: 170px;
  position: relative;
  margin-right: 23px;
}

.movie-item-style-2 {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 58px;
}

.movie-item-style-1 img {
  margin-right: 0;
  margin-bottom: 15px;
}

.movie-item-style-2 img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 30px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.movie-item-style-1 .hvr-inner {
  position: absolute;
  top: 0;
  background-color: #dd003f;
  padding: 8px 15px;
  text-align: center;
  margin-left: 30px;
  margin-top: 110px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.movie-item-style-1 .hvr-inner a {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.movie-item-style-2 .mv-item-infor h6 {
  margin-bottom: 10px;
}

.movie-item-style-2 .mv-item-infor h6 a {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.movie-item-style-2 .mv-item-infor h6 a:hover {
  color: yellow;
}

.movie-item-style-2 .mv-item-infor .rate {
  font-size: 12px;
}

.movie-item-style-2 .mv-item-infor .rate span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

#castRow {
  display: block !important;
}

.sidebar {
  margin-left: 60px;
}

.sidebar .sb-title {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #405266;
}

.form-style-1 {
  margin-bottom: 60px;
  background-color: #0b1a2a;
  border: 3px solid #0f2133;
  padding: 15px;
}

.form-style-1 .form-it {
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
}

.form-style-1 label {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 10px;
}

.form-style-1 input,
.form-style-1 select {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  background-color: #233a50;
  border: none;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  height: 40px;
  width: -webkit-fill-available;
}

.form-style-1 .group-ip {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: row;
}

.form-style-1 .group-ip .ui.selection.dropdown,
.form-style-1 .group-ip .ui.multiple.dropdown .menu {
  background-color: #233a50;
}

.form-style-1 input,
.form-style-1 select {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  background-color: #233a50;
  border: none;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  height: 40px;
}

.form-style-1 input.submit {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background: #dd003f;
  width: 100%;
}

.form-style-1 input,
.form-style-1 select {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  background-color: #233a50;
  border: none;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  height: 40px;
}

.topbar-filter .list i,
.topbar-filter .grid i {
  width: 40px;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.cate {
  margin-bottom: 15px;
}

.cate .blue {
  background-color: #1692bb;
}

.cate span {
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.cate span a {
  font-family: "Dosis", sans-serif;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.cate .yell {
  background-color: #f5b50a;
}

.cate .orange {
  background-color: #ec5a1a;
}

.movie-details {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.rating-info {
  font-size: 12px;
  color: #ffffff;
}

.user-rating {
  font-weight: 400;
  font-size: 18px;
}

.movie-information {
  list-style-type: inherit;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #abb7c4;
  margin-left: 30px;
  margin-top: 8px;
}

.list-item {
  margin-right: 30px;
  color: white;
}

#bottom {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .movie-single .movie-single-ct .movie-rate .rate-star {
    padding-left: 0;
    border: none;
  }
}
.movie-single .movie-single-ct .movie-rate .rate-star p {
  font-size: 18px;
  color: #abb7c4;
  margin-right: 15px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .movie-single .movie-single-ct .movie-rate .rate-star p {
    font-size: 16px;
    margin-right: 0;
  }
}
.movie-single .movie-single-ct .movie-rate .rate-star i {
  font-size: 36px;
  color: #abb7c4;
}
@media (max-width: 767px) {
  .movie-single .movie-single-ct .movie-rate .rate-star i {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  #rating-icon {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .topbar-filter {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .topbar-filter .list {
    border: none;
  }
}

@media (max-width: 767px) {
  .topbar-filter .pagination2 {
    padding-left: 0;
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .topbar-filter.fw p {
    padding-right: 170px;
  }
}

@media (max-width: 767px) {
  .topbar-filter.fw p {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .ipad-width {
    max-width: 550px;
    margin: 0 auto;
  }
  .ipad-width2 {
    max-width: 650px;
    margin: 0 auto;
  }
  .ipad-width2 .topbar-filter p {
    padding-right: 70px;
  }
  .sidebar {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .ipad-width2 .topbar-filter p {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .topbar-filter select {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .movie-item-style-2 .movie-item-style-1 {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .movie-item-style-1 .hvr-inner {
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .movie-item-style-1 {
    margin-left: 15px;
    max-width: 170px;
  }
}

@media (max-width: 767px) {
  .movie_list .movie-item-style-2 img,
  .movie_single .movie-item-style-2 img,
  .userfav_list .movie-item-style-2 img {
    width: auto;
  }
}

@media (max-width: 767px) {
  .movie-item-style-2 img {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .mv-grid-fw {
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .flex-wrap-movielist {
    max-width: 200px;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 767px) {
  .movie-item-style-2 .mv-item-infor {
    max-width: 180px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .topbar-filter select {
    border: 1px solid #405266;
  }
}

@media (max-width: 767px) {
  .movie-single .movie-single-ct .tab .rv-hd {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .movie-single .sticky-sb {
    max-width: 340px;
    margin: 0 auto 60px;
  }
}

@media (max-width: 767px) {
  .movie-item-style-2 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .movie_list .movie-item-style-2 img,
  .movie_single .movie-item-style-2 img,
  .userfav_list .movie-item-style-2 img {
    width: auto;
  }
}

@media (max-width: 767px) {
  .movie-item-style-2 .mv-item-infor {
    max-width: 180px;
    margin: 0 auto;
  }
}

.movie-item-style-2-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .movie-item-style-2-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.movie-item-style-2-list img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 30px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.movie-item-style-2-list .mv-item-infor h6 {
  margin-bottom: 10px;
}

.movie-item-style-2-list .mv-item-infor .rate {
  font-size: 12px;
}

.movie-item-style-2-list .mv-item-infor p {
  margin-bottom: 0;
}

.movie-item-style-2-list .mv-item-infor .describe {
  padding-bottom: 25px;
  border-bottom: 1px solid #405266;
  margin-bottom: 25px;
}

.movie-item-style-2-list .mv-item-infor p {
  margin-bottom: 0;
}

.movie-item-style-2-list .mv-item-infor h6 a {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .movie_list .movie-item-style-2-list img,
  .movie_single .movie-item-style-2 img,
  .userfav_list .movie-item-style-2 img {
    width: auto;
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .movie-item-style-2-list .mv-item-infor {
    max-width: 180px;
    margin-top: 15px;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .sidebar {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .form-style-1 select {
    margin-bottom: 30px;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.overlay .login-content {
  width: 430px;
  padding: 50px;
  border: 1px solid #e1e1e1;
  height: auto;
  background-color: #ffffff;
}

.overlay .close {
  background-color: #dd003f;
  color: #ffffff;
  opacity: 1;
  padding: 4px 10px 6px 10px;
  font-size: 16px;
  display: block;
  margin-bottom: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
}

.overlay .login-content h3 {
  font-family: "Dosis", sans-serif;
  font-size: 36px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
  text-align: center;
}

.overlay .login-content label {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 25px;
}

.overlay .login-content .remember {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  font-family: "Nunito", sans-serif;
  font-size: #abb7c4;
  color: #222222;
  font-weight: 600;
  text-transform: none;
}

.overlay .login-content button {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #dd003f;
  height: 42px;
  width: 100%;
  cursor: pointer;
}

.overlay.openform {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  pointer-events: inherit;
}

.overlay .login-content label input {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #222222;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 10px;
  height: 42px;
  border: 1px solid #e1e1e1;
  margin-left: 10px;
}

.forgot {
  color: blue;
  margin-left: 55px;
}

.overlay .login-content .remember span {
  margin-top: 3px;
}

.overlay .login-content .remember input[type="checkbox"] {
  width: 20px;
  border: 1px solid #e1e1e1;
  margin-right: 5px;
  position: relative;
}

.right {
  float: right;
}

@media (max-width: 767px) {
  .overlay .login-content {
    width: 300px;
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .forgot {
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .overlay .login-content label input {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .overlay .close {
    display: block;
  }
}

@media (max-width: 767px) {
  .overlay .login-content h3 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .overlay .login-content label {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .overlay .login-content .remember {
    margin-bottom: 15px;
  }
}

.overlay .login-content label {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 25px;
}

#input {
  width: 90%;
  margin-left: 0px;
}

#input:focus {
  border: 1px solid #e1e1e1 !important;
}

.overlay .login-content label input:focus {
  border: 1px solid #e1e1e1 !important;
}

.menu {
  display: inline-flex;
}

.space-margin {
  margin-right: 2px;
}

.side-heading {
  margin-bottom: 10px !important;
}

.release-date {
  margin-bottom: 0px !important;
}

a#black-hover:hover {
  color: black !important;
}

a#black-hover {
  color: white !important;
}

.mv-user-review-item {
  width: 80%;
}

#review-date {
  float: right;
}

@media (max-width: 992px) {
  .movie-single .movie-single-ct .tab .rv-hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
}

#yellow :hover {
  color: #dcf836;
}

.close-cross {
  float: right;
  color: white;
  margin-top: -9px;
  margin-right: 0px;
  font-size: 42px;
}

.heading {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.heading:hover {
  color: #ffaa3c;
  cursor: pointer;
}

.active-page {
  color: #ffaa3c;
}

.active-page:hover {
  color: #4280bf;
}

.grid:hover {
  color: #4280bf !important;
  cursor: pointer;
}

.list {
  color: #ffaa3c !important;
}

.movie-grid {
  color: #ffaa3c !important;
}

.movie-list :hover {
  color: #4280bf !important;
}

.movie-item-style-1 .hvr-inner a:hover {
  color: black;
}

#not-allowed {
  cursor: not-allowed;
}
